<div class="post-container">
  <span class="post-title"><%= post.title %></span>
  <span class="post-bio"><%= post.text %></span>
  <span class="post-totalpost">Comments : <%= post.comments_counter %>, Likes : <%= post.likes_counter %></span>
</div>

